.faq-section {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  font-family: "Segoe UI", sans-serif;
}
.more about {
	background-color: white;
}
.faq-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.faq-question .icon {
  transition: transform 0.3s ease;
  font-weight: bold;
  font-size: 1.2rem;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  padding: 0 0;
}

.faq-answer p {
  margin: 10px 0;
}

.faq-item.active .faq-answer {
  max-height: 200px; /* enough for content */
  padding: 10px 0;
}

.faq-item.active .faq-question .icon {
  transform: rotate(180deg);
  content: "–";
}


.main-wrapper {
  max-width: 1662px;
  margin: 0 auto;
}

/*-------------------------------------------------------
-------------------------------------------------------
-------------------------------------------------------*/
/* SLIDE LAYOUT
/*-------------------------------------------------------
-------------------------------------------------------
-------------------------------------------------------*/
.sl-wrapper {
  position: relative;
}
.sl-nav {
  position: relative;
  width: 100px;
  height: 60px;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url();
}
.swiper-button-next,
.swiper-button-prev {
  width: 35px;
}

/*-------------------------------------------------------*/
/* Card Bkg Img
/*-------------------------------------------------------*/

.sl-bkg-img,
.sl-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.sl-img-1 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/614007/wonder_woman_ver6_xxlg.png");
}
.sl-img-2 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/614007/Leia_Organa.png");
}
.sl-img-3 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/614007/laraCroft.png");
}
.sl-gradient {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/614007/gradient.png");
  z-index: 1;
}
/*-------------------------------------------------------*/
/* Card Content
/*-------------------------------------------------------*/

.sl--content-container {
  position: absolute;
  background-color: #ffffff;
}
.sl--content-container h2 {
  text-transform: uppercase;
}
.sl--sub-text {
  font-weight: 300;
}
.content-reveal-btn {
  background-color: #04b7ac;
}
.sl--show-card-info,
.sl--close-card-info {
  fill: #ffffff;
}
.sl--show-card-info {
  transform: scale(0.6, 0.6);
  -webkit-transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sl--close-card-info {
  -ms-transform: rotate(45deg) scale(0.6, 0.6);
  -webkit-transform: rotate(45deg) scale(0.6, 0.6);
  transform: rotate(45deg) scale(0.6, 0.6);
  -webkit-transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
/*--------------------------

     Media Queries 

--------------------------*/
/*    Mobile    */

@media only screen and (min-width: 320px) {
  /* 320px */

  /*-------------------------------------------------------*/
  /* SL Header: 320
	/*-------------------------------------------------------*/
  .sl-header-wrapper {
    padding: 0 18px;
  }
  .sl-header-wrapper h3 {
    font-size: 50px;
    font-weight: 900;
    line-height: 80%;
    letter-spacing: -1.4px;
    margin: 10px 0;
  }
  .sl-header-wrapper h4 {
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    line-height: 100%;
    letter-spacing: -1.4px;
    word-spacing: 2.4px;
  }
  .sl-header-wrapper p {
    font-weight: 300;
  }

  /*-------------------------------------------------------*/
  /* Prev/Next Slide Cover: 320
	/*-------------------------------------------------------*/
  .sl-nav {
    display: none;
  }
  .swiper-slide-prev .slide-cover,
  .swiper-slide-next .slide-cover,
  .slide-cover {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0.75;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    visibility: visible;
  }
  .swiper-slide-active .slide-cover {
    position: absolute;
    opacity: 0;
    -webkit-transition: visibility 0s 0.5s, opacity 300ms;
    transition: visibility 0s 0.5s, opacity 300ms;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 2;
    visibility: hidden;
  }

  /*-------------------------------------------------------*/
  /* Swiper: 320
	/*-------------------------------------------------------*/

  .swiper-container {
    width: 95%;
    height: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  /*-------------------------------------------------------*/
  /* Card: 320
	/*-------------------------------------------------------*/

  .sl-card-wrapper {
    position: relative;
    height: 540px;
    overflow: hidden;
  }
  /*-------------------------------------------------------*/
  /* Card Bkg Img: 320
	/*-------------------------------------------------------*/

  .sl-gradient {
    background-position: center 210px;
  }
  .sl-bkg-img {
    background-size: cover;
    background-position: center top;
  }
  /*-------------------------------------------------------*/
  /* Card Content: 320
	/*-------------------------------------------------------*/

  .sl--content-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transition: width 250ms, height 250ms;
    transition: width 250ms, height 250ms;
    overflow: hidden;
  }
  .sl--content-wrapper-inactive {
    width: 101%;
    height: 541px;
  }
  .sl--content-wrapper-active {
    width: 101%;
    height: 100%;
  }
  .sl--content-container {
    width: 100%;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 1;
  }
  .sl--card-hide {
    transform: translate(0, 410px);
    -webkit-transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
      width 250ms;
    transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
      width 250ms;
    height: 568px;
  }
  .sl--card-reveal {
    transform: translate(0, 0);
    -webkit-transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
      width 250ms;
    transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
      width 250ms;
    height: 100%;
    width: 100%;
    overflow: auto;
    /*padding: 100px 0px;*/
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .sl--content-container h2 {
    font-size: 30px;
    word-spacing: 2px;
    letter-spacing: -1.4px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .sl--sub-text {
    margin-bottom: 0;
    -webkit-transition: margin 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: margin 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .sl--card-reveal .sl--sub-text {
    margin-top: 12%;
  }
  .sl--content-container .sl--card-content {
    font-weight: 300;
    margin-top: 15px;
    overflow-y: auto;
  }
  .sl--link {
    color: #04b7ac;
    margin-bottom: 15px;
  }
  .sl--card-nav-container {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 1;
    bottom: 0;
    /*background-color: #ffffff;*/
    background-image: linear-gradient(0deg, #f5f5f5, hsla(37, 87%, 97%, 0));
  }
  .sl--content-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 37px;
    height: 37px;
    cursor: pointer;
    z-index: 1;
  }
  .content-hide-btn {
    transform: scale(0, 0);
  }
}
@media only screen and (min-width: 375px) {
  /* 375 */
  /*-------------------------------------------------------*/
  /* Card Bkg Img: 375
	/*-------------------------------------------------------*/

  .sl-gradient {
    background-position: center 300px;
  }

  /*-------------------------------------------------------*/
  /* Card Content: 375
	/*-------------------------------------------------------*/

  .sl-card-wrapper,
  .sl--content-wrapper-inactive {
    height: 600px;
  }
  .sl--content-wrapper-inactive {
    width: 91%;
  }
  .sl--content-container {
    height: 372px;
  }
  .sl--card-reveal {
    height: 100%;
    width: 100%;
  }
  .sl--card-hide {
    transform: translate(0, 465px);
    height: 667px;
  }
  /*@-moz-document url-prefix() {
		.sl--card-hide {
			color: red;
			transform: translate(0, 265px);
			border: red 5px solid;
		}
		
	}*/
}
@media only screen and (min-width: 414px) {
  /* 414 */
  /*-------------------------------------------------------*/
  /* SL Header: 414
	/*-------------------------------------------------------*/
  .sl-header-wrapper h3 {
    font-size: 55px;
  }

  /*-------------------------------------------------------*/
  /* Card Content: 414
	/*-------------------------------------------------------*/
  .sl-card-wrapper,
  .sl--content-wrapper-inactive {
    height: 650px;
  }
  .sl--card-hide {
    height: 740px;
    transform: translate(0, 495px);
  }
}
@media only screen and (min-width: 568px) {
  /* 568 */
}
@media only screen and (min-width: 667px) {
  /* 667px */
}
@media only screen and (min-width: 736px) {
  /* 736px */
}
/*Tablet*/

@media only screen and (min-width: 768px) {
  /* 768 */
  /*-------------------------------------------------------*/
  /* SL Main Container: 768
	/*-------------------------------------------------------*/
  .sl-main-container {
    width: 768px;
    margin: 0 auto;
  }

  /*-------------------------------------------------------*/
  /* SL Header: 768
	/*-------------------------------------------------------*/
  .sl-header-wrapper {
    padding: 0 5%;
  }
  .sl-header-wrapper h3 {
    width: 300px;
    font-size: 65px;
  }
  .sl-header-wrapper p {
    width: 505px;
  }

  /*-------------------------------------------------------*/
  /* Swiper: 768
	/*-------------------------------------------------------*/
  .swiper-container {
    width: 690px;
  }

  /*-------------------------------------------------------*/
  /* Card Content: 768
	/*-------------------------------------------------------*/
  .sl-card-wrapper {
    width: 325px;
    height: 540px;
  }
  .sl--content-wrapper-inactive {
    width: 290px;
    height: 100%;
  }
  .sl--content-wrapper-active {
    width: 101%;
  }
  .sl--card-hide {
    transform: translate(0, 375px);
  }
  .sl-gradient {
    background-position: center 185px;
  }
}
/*    Desktop    */

@media only screen and (min-width: 1024px) {
  /* 1024 */
  /*-------------------------------------------------------*/
  /* Main Wrapper: 1024
	/*-------------------------------------------------------*/

  /*-------------------------------------------------------*/
  /* SL Main Container: 1024
	/*-------------------------------------------------------*/
  .sl-main-container {
    width: 1024px;
  }

  /*-------------------------------------------------------*/
  /* SL Header: 1024
	/*-------------------------------------------------------*/
  .sl-header-wrapper {
    padding: 50px 2% 0 5%;
    width: 500px;
    display: inline-block;
    float: left;
  }
  .sl-header-wrapper p {
    width: 100%;
  }

  /*-------------------------------------------------------*/
  /* Swiper: 1024
	/*-------------------------------------------------------*/
  .sl-wrapper {
    height: 540px;
    width: 522px;
    display: inline-block;
  }

  .swiper-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 505px;
    height: 540px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }

  /*-------------------------------------------------------*/
  /* Prev/Next Slide Cover: 1024
	/*-------------------------------------------------------*/
  .sl-nav {
    display: block;
  }
}
@media only screen and (min-width: 1140px) {
  /* 1140 */
}
@media only screen and (min-width: 1440px) {
  /* 1440 */
  /*-------------------------------------------------------*/
  /* Slide Layout: 1024
	/*-------------------------------------------------------*/
  .sl-main-container {
    width: 1440px;
  }
  .sl-wrapper,
  .swiper-container {
    width: 920px;
  }
}
@media only screen and (min-width: 1662px) {
  /* 1662px */
}




a {
    color: #333333;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
    color: #454545;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0 0 5px 0;
    color: #333333;
    font-weight: 700;
    
}

h1 {
    font-weight: 900;
}

img {
    width: 100%;
    height: auto;
}



/**********************************/
/***** Layout & Section Title *****/
/**********************************/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .column {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .column {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .column {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.section-title {
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 5px;
    left: calc(50% - 25px);
    background: #353535;
}

.section-title h1 {
    color: #353535;
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

@media(max-width: 767.98px) {
    .section-title h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }
}

@media(max-width: 567.98px) {
    .section-title h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}


.team-9 {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.team-9:hover {
    transform: rotateY(180deg);
}

.team-9 .team-img {
    position: relative;
    font-size: 0;
    text-align: center;
    margin-bottom: 30px;
}

.team-9 .team-img img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

.team-9 .team-content {
    text-align: center;
}

.team-9 .team-content h2 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.team-9 .team-content h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.team-9 .team-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #ffffff;
    border-radius: 5px;
    transform: rotateY(180deg);
}

.team-9 .team-overlay p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.team-9 .team-social {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
}

.team-9 .team-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 11px 0 10px 0;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 100%;
    transition: all .3s;
}

.team-9 .team-social a.social-tw {
    background: #00acee;
}

.team-9 .team-social a.social-fb {
    background: #3b5998;
}

.team-9 .team-social a.social-li {
    background: #0e76a8;
}

.team-9 .team-social a.social-in {
    background: #3f729b;
}

.team-9 .team-social a.social-yt {
    background: #c4302b;
}

.team-9 .team-social a:last-child {
    margin-right: 0;
}

.team-9 .team-social a:hover {
    background: #222222;
}






/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }
